body {
    background-image: url(http://fc05.deviantart.net/fs40/f/2009/041/7/d/Green_grass_and_blue_sky_by_s1lv3r_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

  